<h1>Rock, Paper, or Scissors?</h1>

<p>A steam-powered bot has challenged you to a game. <strong>Rock</strong> beats <strong>scissors</strong>, <strong>scissors</strong> beats <strong>paper</strong>, and <strong>paper</strong> beats <strong>rock</strong>.</p>



<form method="post" action="/select">
<h2>Select Difficulty</h2>
<input type="radio" name="difficulty" value="1"> Easy
<input type="radio" name="difficulty" value="2"> Medium
<input type="radio" name="difficulty" value="3"> Hard
<input type="submit" value="Select" name="Select"/>
</form>


<h2>Choose Wisely</h2>

<form method="post" action="/Rock">
<input type="submit" value="Rock" name="Rock"/>
</form>

<form method="post" action="/Paper">
<input type="submit" value="Paper" name="Paper"/>

</form>
<form method="post" action="/Scissor">
<input type="submit" value="Scissor" name="Scissor"/>

</form>


<div id="status">
  <h1>Status</h1>
  {{ "You choose",p_choice,"AI choose",ai_choice }}<br>
         {{ msg }}


</div>